{% extends 'base.html' %}
{% block title %}Анализатор страниц{% endblock %}
{% block content %}
        <h1 class="display-4 fw-bold text-center mb-4">Анализатор страницы</h1>
        <p class="lead text-center mb-5">Бесплатно проверяйте сайты на SEO-пригодность</p>
        
        <!-- ФОРМА  -->
        <form method="POST" action="/urls" class="text-center">
          <div class="input-group mb-3" style="max-width: 500px; margin: 0 auto;">
            <input type="text" class="form-control form-control-lg" 
                   name="url" 
                   value="{{ url if url else '' }}"
                   placeholder="https://www.example.com" required>
            <button class="btn btn-primary btn-lg" type="submit">ПРОВЕРИТЬ</button>
          </div>
        </form>
{% endblock %}