{% extends 'base.html' %}
{% block title %}Сайты{% endblock %}
{% block content %}
    <!-- Информация о сайте -->
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-8" data-test="url">
        <h1>Сайт: {{ url[1] }}</h1>
            <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID</th>
          <th>{{ url[0] }}</th>
        </tr>
        <tr>
          <th>Имя</th>
          <th>{{ url[1] }}</th>
        </tr>
          <th>Дата создания</th>
          <th>{{ url[2].strftime('%Y-%m-%d %H:%M:%S') }}</th>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>

    <!-- КНОПКА ПРОВЕРКИ  -->
    <form method="post" action="{{ url_for('url_check', id=url[0]) }}">
      <input type="submit" class="btn btn-primary mb-4" value="Запустить проверку">
    </form>

    <!-- ТАБЛИЦА ПРОВЕРОК  -->
    <table class="table table-striped" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      <tbody>
        {% for check in checks %}
        <tr>
          <td>{{ check[0] }}</td>  <!-- id -->
          <td>{{ check[2] or '-' }}</td>  <!-- status_code -->
          <td>{{ (check[3][:200] + '...') if check[3] else '-' }}</td>  <!-- h1 -->
          <td>{{ (check[4][:200] + '...') if check[4] else '-' }}</td>  <!-- title -->
          <td>{{ (check[5][:200] + '...') if check[5] else '-' }}</td>  <!-- description -->
          <td>{{ check[6].strftime('%Y-%m-%d %H:%M:%S') }}</td>  <!-- created_at -->
        </tr>
        {% else %}
         <tr><td colspan="6" class="text-center text-muted">Проверок пока нет</td></tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}